page-basic-identity {
   ion-content{
     .basic-div{
       height: 100%;
       position: relative;
       overflow: hidden;
       img{
         position: absolute;
       }
     }
     .file {
       height: 100%;
       position: relative;
       //border: 1px solid #454b5a;
       //border-color: #454b5a;
       color: #454b5a;
       overflow: hidden;
       text-decoration: none;
       text-indent: 0;
       text-align: center;
     }
     .file input {
       position: absolute;
       font-size: 100px;
       right: 0;
       top: 0;
       opacity: 0;
       text-align: center;
     }
     .file:hover {
       background: white;
       border-color: #454b5a;
       color: #454b5a;
       text-decoration: none;
     }
     .basic-list{
       ion-item{
         background: color($colors, graybg);
         height: 110px;
         .basic-label{
           flex: none;
           -webkit-flex: none;
           width: 45%;
           .basic-img{
             //padding: 5% 0;
             text-align: center;
             img{
               max-width: 40%;
               margin:0 auto;
             }
             p{
               margin: 0;
               font-size: 1.3rem;
             }
           }
         }
         .basic-content{
           width: 45%;
           height: 90px!important;
           padding:0;
           background-color: white;
           button{
             margin: 0!important;
             width: 100% !important;
             height: 100% !important;
             background-color: white!important;
             ion-icon{
               font-size: 5rem!important;
               color: #8f939c;
             }
             div{
               img{
                 margin:0 auto;
               }
             }
           }
         }
       }
     }


     ion-input{
       input{
         margin: 0!important;
         margin-left: 0!important;
       }
     }
     ion-list{
       margin: 0!important;
     }
     ion-spinner{
       position: absolute;
       width: 16%;
       height: 16%;
       left: 42%;
       top: 42%
     }
   }


   // 输入框下划线
   .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
       border-bottom:0;
       -webkit-box-shadow: none;
       box-shadow: none;
   }

   .item-md.item-input.item-input-has-focus .item-inner,
   .item-md.item-input.input-has-focus .item-inner {
       border-bottom:0;
       -webkit-box-shadow: none;
       box-shadow: none;
   }

   .list-md .item-input.item-input-has-focus:last-child,
   .list-md .item-input.input-has-focus:last-child {
       border-bottom:0;
       -webkit-box-shadow: none;
       box-shadow: none;
   }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
}
