page-feedback {
    .content-md,.content-ios{
        background:#f8f9f9;
        color: color($colors, dark);
    }
    textarea{
        border:0;
        width:100%;
        font-size:1.6rem;
        padding-bottom:16px;
        line-height:1.4;
    }
    .count{
        font-size:1.4rem;
        background:#fff;
    }
    .item-ios.item-block .item-inner,.item-md.item-block .item-inner{
        border:0;
    }
    .picTransfer{
      ion-row{
        ion-col{
          .picCenter{
            width: 80%;
            margin: 0 auto;
            background-color: #e9e9e9;
            padding: 0!important;
            position: relative;
            ion-icon{
              font-size: 6rem;
            }
            .shanchu{
              position: absolute;
              right: -.9rem;
              top: -.9rem;
              display: block;
              font-size: 1.8rem;
              background-color: #d81e06;
              color: white;
              border-radius: 50%!important;
              font-weight: bolder;
            }
          }
        }
      }
    }
}
